#contactUs{
    .contact--inner{
        width: 100%;
        padding-top: var(--section-padding-top);
        padding-bottom: 70px;
        gap:20px 30px;
        margin: 0 auto;
        h2{
            font-size: 27px;
            font-weight: var(--font-weight-heavy);
            margin-bottom: 0px;
            padding:0;
        }
        .contact--form{
            height: 100%;
            textarea{
                min-height: calc(1.5em + .75rem + 2px);
                padding-top: 5px;
                padding-bottom: 5px;
            }
            input[type="text"],input[type="email"]{
                padding-top: 10px;
                padding-bottom: 10px;  
            }
            input[type="text"],input[type="email"], textarea{
                border: 1px solid #e5e6e9;
                font-size: 16px;
                background: transparent;
                border-radius:0;
                padding-left: 13px;
                appearance: none;
                transition: var(--little-transition);
                &::placeholder{
                    color: #acacac;
                    font-size: var(--font-size-small);
                }
                margin-bottom: 30px;
                &:focus{
                    border-color:#c5c5c5;
                    outline: none;
                }

            }   
            input[name="subject"]{
                    margin-bottom:15px;
            }
            input[type="submit"] {
                margin-top: 25px;
                background-color: transparent;
                border: 1px solid var(--primary-clr);
                color: var(--primary-clr);
                border-radius:0;
                padding: 12px 7px;
                font-size: var(--font-size-static-sm);
                font-weight: 400;
                display: inline-block;
                text-align:center;
                text-transform: capitalize;
                transition: var(--little-transition);

                &:hover{
                    background-color: var(--primary-clr);
                    color: var(--ultra-white);
                }
            }
            .contact--name--email{
                width: 100%;
                justify-content: space-between;
                padding:0;
                margin:0;
                align-items: center;
                gap: 0 20px;
                flex-wrap: wrap;
                input[type="text"], input[type="email"]{
                    width: 45%;
                }
            }
        }
        .contact--info{
           .contact--info--item{
               margin-bottom: 25px;
                svg{
                    justify-self:start;
                    margin-right: 18px;
                    color:#8f9195;
                    font-size: 28px;
                }
                font-size: var(--font-size-static-md);
                h3.contact--info--title{
                    font-size: inherit;
                    margin-bottom: 0;
                    color:#2a2a2a;
                    font-weight: var(--font-weight-heavy);
                }
                p.contact--info--details{
                    color:#8a8a8a;
                    font-size: inherit;
                    font-weight: var(--font-weight-light);
                    margin-bottom: 15px;
                    line-height: 1.6;
                }
           }
        }
        @media only screen and (min-width: 670px) {
            .contact--info{
              margin-left: 7%;
            }
        }
        @media only screen and (max-width: 670px) {
            input, textarea{
                width: 100% !important;
            }
            .contact--info{
                margin-top: 50px;
            }
           
        }
    }
}