// Jost
@font-face{
    font-family: Jost-regular;
    src: url("./Jost/Jost-VariableFont_wght.ttf");
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: Jost-bold;
    src: url("./Jost/Jost-Bold.ttf");
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: Jost-light;
    src: url("./Jost/Jost-Light.ttf");
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: Jost-medium;
    src: url("./Jost/Jost-Medium.ttf");
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: Jost-black;
    src: url("./Jost/Jost-Black.ttf");
    font-display: swap;
    font-style: normal;
}
// Clicker script
@font-face{
    font-family: Clicker_Script;
    src: url("./Clicker_Script/ClickerScript-Regular.ttf");
    font-display: swap;
    font-style: normal;
}

// Billabong
@font-face{
    font-family: Billabong;
    src: url("./Billabong/Billabong.ttf");
    font-display: swap;
    font-style: normal;
}