#latestNews{
    padding-top: var(--container-padding-top);
    padding-bottom: 20px;
    background-color: #F6F6F6;
    width: 100%;
    h2.section--title{
        text-align: center;
    }
    .news--list{
        width: 100%;
        align-items: flex-start;
        margin-right: 5px;
        padding: 25px 0;
        gap: 25px 0;
        #latestNewsItem{
            justify-content: center;
            background-color: transparent;
            align-items: center;
            cursor: pointer;
            margin-bottom: 10px;
            &:hover{
                .news--title{
                    color: var(--primary-clr);
                }
            }
            img{
                width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
            .news--category{
                color: var(--text-gray);
                font-size: var(--font-size-static-md);
                font-weight: var(--font-weight--light);
                margin: 17px 0;
                text-transform: capitalize;
                display:block;
            }

            .news--title{
                transition: var(--little-transition);
                color: var(--ultra-black);
                font-weight: var(--font-weight-xtra-heavy);
                font-size: var(--font-size-x-large);
                text-transform: capitalize;
            }
            .news--snippet{
                color: var(--text-gray);
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .news--link{
                font-weight: var(--font-weight-medium);
                font-size: var(--font-size-static-md);
                color: var(--ultra-black);
                text-transform: capitalize;
                text-decoration: underline;
                transition: var(--little-transition);
                &:hover{
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}