#sectionHeader{
    background-color: var(--secondary-clr);
    padding: 30px 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    h2{
        font-size: 35px;
        margin-bottom: 12px;
        font-weight: var(--font-weight-medium);
        text-transform: capitalize;
    }
    .section--header--links{
        padding: 0;
        a{
            text-decoration: none;
            text-transform: capitalize;
            color: var(--text-gray);
            margin-right: 5px;
            &::after{
                content: "|";
                color: inherit;
                padding-left: 5px;
            }
            &:last-of-type{
                &::after{
                    content: "";
                    display: none;
                    width: 0;
                }
            }
            &:hover{
                text-decoration: underline;
            }
        }
        a.current--section--link{
            opacity: 0.7;
            text-decoration: none;
        }
    }
}